<script>
  import { addClass } from "../shared/css.js";
  const { is: Is = "div", ...props } = $.props;
  addClass(props, $.style.container);
</script>

<Is {...props}>
  <slot />
</Is>

<style>
  .container {
    width: 100%;
    padding: 2.5rem;
    margin: auto;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
</style>
