<script>
    import Icon from './Icon.html';
    import Button from './Button.html';
    // import ThemeToggle from './ThemeToggle.astro';
    // import type { iconPaths } from './IconPaths';

    /** Main menu items */
    const textLinks = [
        { label: 'Home', href: '/' },
        { label: 'Work', href: '/work/' },
        { label: 'About', href: '/about/' },
    ];

    /** Icon links to social media — edit these with links to your profiles! */
    const iconLinks = [
        { label: 'Twitter', href: 'https://twitter.com/me', icon: 'twitter' },
        { label: 'Twitch', href: 'https://twitch.tv/me', icon: 'twitch' },
        { label: 'GitHub', href: 'https://github.com/me', icon: 'github' },
        { label: 'CodePen', href: 'https://codepen.io/me', icon: 'codepen' },
        { label: 'dribbble', href: 'https://dribbble.com/me', icon: 'dribbble' },
        { label: 'YouTube', href: 'https://www.youtube.com/@me/', icon: 'youtube' },
    ];
</script>

<nav class="nav">
    <div>
        <span>Kavindu Santhusa</span>
    </div>
    <div>
        {textLinks.map(link => <Button filled>{link.label}</Button>)}
    </div>
    <div>
        {iconLinks.map(iconLink => <Icon icon={iconLink.icon} />)}
    </div>
</nav>
<style>
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 5rem;
    }
</style>